<div class="card mb-2" *ngFor="let activity of activities">
    <div class="card-body" >
      <div class="d-inline-block mr-5">
        <img src="../../../assets/Images/user.png" class="img-thumbnail rounded" alt="" style="max-width: 80px;">
      </div>
      <div class="d-inline-block">
        <h4 class="cart-title">{{activity.title}}</h4>
         <small class="text-muted">Hosted by Jane</small><br>
         <span class="text-success">You are Going to this activity</span>
      </div>
      <hr>
      <i class="fas fa-clock"></i>
      <span class="text-muted mr-2">{{activity.date}}</span>
      <i class="fas fa-map-marker-alt"></i>
      <span class="text-muted">
        {{activity.venue}}-{{activity.city}}
      </span>
      <hr>
      <div class="bg-light">
        <ul class="list-group list-group-horizontal">
          <li *ngFor="let attendee of activity.attandees" class="list-group-item">
          <img [src]="attendee.image || '../../../../../assets/Images/user.png'" class="img-thumbnail " alt="{{attendee.displayName}}" style="max-width: 50px;">
          </li>
        </ul>
      </div>
      <div class="d-flex justify-content-between mt-3">
        <small class="text-muted">{{activity.description}}</small>
        <button class="btn btn-primary align-self-center" [routerLink]="['/activities',activity.id]">View</button>
      </div>
    </div>
  </div>
<button class="btn btn-sm btn-success btn-block" (click)="handleGetNext()" [disabled]='totalPages()===page+1'>
    <span *ngIf="loadMoreLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    Load More
  </button><br><br>